body {
    font-family: Arial, sans-serif;
    margin: 0;
    padding: 0;
}

header {
    background-color: #333;
    color: #fff;
    padding: 5px 0;
    position: fixed;
    top: 0;
    width: 100%;
    z-index: 1000;
}

nav ul {
    list-style-type: none;
}

nav ul li {
    display: inline;
    margin-right: 20px;
    font-size: 22px;
}

.mer {
    text-decoration: none;
    color: #ffffff;
}

.mer:hover {
    color: #b2ccea;
}

section {
    padding: 20px;
}

footer {
    background-color: #333;
    color: #fff;
    text-align: center;
    padding: 10px 0;
}
.social {display: inline-block;}
.social a {
	display: block;
	width: 48px;
	height: 48px;
	margin: 0 10px 10px 0;
	text-align: center;
	color: #000;
	background: #fff;
	border: 1px solid #ccc;
	border-radius: 6px;
	box-shadow: 0 2px 4px rgba(0,0,0,0.15), inset 0 0 50px rgba(0,0,0,0.1);
}
.social a:hover {color: #fff;}
.social svg {
	margin-top: 7px;
	width: 32px;
	height: 32px;
}
.instagram a:hover {background: #3f729b;}
.telegram a:hover {background: #249bd7;}
.vk a:hover {background: #4a76a8;}

.hhh h1 {
    text-align: center;
    color: white;
}

@import url('https://maxcdn.bootstrapcdn.com/bootstrap/3.3.6/css/bootstrap.min.css');

.carousel {
  height: 500px !important;
}
.carousel-inner img {
  height: 500px !important;
  margin: 0 auto;
}
.carousel-indicators li {
  border-color: #000;
}
.carousel-indicators .active {
  background-color: #000;
}
p {
    font-size: 20px;
}
.carousel-indicators {
    height: 200px !important;
}
section {
    background-color: #b2ccea;
}